@import "../../../assets/styles/mixins";

.category-container__filter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #333;
  font-size: 10px;
  &-right {
    @include media(786px) {
      display: none;
    }
    font-size: 20px;
  }
  &-left {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
}