@import "../../assets/styles/mixins";

.catalog {
  @include media(1000px) {
    grid-template-columns: 100%;
    justify-content: start;
  }
  @include media(700px) {
    width: 90%;
    margin: auto;
  }
  display: grid;
  grid-template-columns: 20% 78%;
  justify-content: space-between;
  max-width: 1017px;
  width: 90%;
  margin: auto;
}