@import "../../assets/styles/mixins";

.wishlist {
  max-width: 1017px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  &__body {
    display: grid;
    grid-gap: 12px;
  }
  &__item {
    @include media(450px) {
      grid-template-columns: 1fr;
    }
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 250px;
    background-color: #fff;
  }
  &__box {
    @include media(786px) {
      grid-template-columns: 1fr;
      justify-content: center;
    }
    @include media(450px) {
      grid-template-columns: repeat(2, 1fr);
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  &__image {
    max-width: 200px;
    width: 100%;
  }
  &__head {
    @include media(786px) {
      display: none;
    }
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  &__heading {
    text-transform: uppercase;
  }
  &__pricing {
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;
    grid-gap: 20px;
  }
  &__price {
    font-size: 30px;
  }
  &__sale {
    color: #bab7b7;
  }
  &__button {
    @include media(450px) {
      font-size: 10px;
    }
    background-color: rgba(255, 196, 0, 1);
    border: 2px solid rgba(255, 196, 0, 1);
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: rgba(255, 196, 0, 1);
      background-color: transparent;
    }
  }
  &__close {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 15px;
    cursor: pointer;
  }
}
