@import "../../../assets/styles/mixins";

.top {
  
  // @include media(1000px) {
  //   display: none;
  // }
  display: grid;
  grid-row: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  &__right {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  &__icon {
    &:nth-last-of-type(3) {
      font-size: 18px;
    }
  }
}
